<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bonbon|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  
</head>
<body>
  <div class="modal" id="noBurger" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <h5 class="modal-title">Modal title</h5>
        <div class="modal-body">
          <img src="https://www.gettyimages.com/gi-resources/images/CreativeLandingPage/HP_Sept_24_2018/CR3_GettyImages-159018836.jpg"
            alt="building a burger">
          </img>
        </div>
      </div>
    </div>
  </div>
    <!--end modal-->
  <div class="jumbotron text-center mb-0">
    <h1>Eat Dat Burger</h1>
  </div><!-- end jumbotron -->
  <div id="appArea">
    <div class="container p-3">
      {{{body}}}
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6 text-center">
      <button id="resetButton" class="btn btn-danger" type="button">Reset Da Ate</button>
    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>