/* 
font-family: 'Roboto', sans-serif;
font-family: 'Bonbon', cursive; 
*/



h1 {font-family: 'Bonbon', cursive;
  color: blue;
  font-weight: bold;
  font-size: 500%;
  text-shadow: 0 0 2px black;
}
.jumbotron{
  background-color: transparent;
}
html {
  min-height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  width: 100%;
  /* background-image: url("../img/green-370121_1280.png"); */
  background-image:  url("../img/big-burger-transparent.png"), url("../img/3480691.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
  color: rgb(203, 203, 203);
  

}
/* ***********************
modal css
****************************/
#noBurger .modal-title {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.modal-body img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* ***********************
end modal css
****************************/



.container{
  /* background-color: rgba(128, 128, 128, 0.386); */
  background-color: #325b0b51;
  border: 4px solid transparent;
  border-radius: 30px;
}

#burgerBox h5 {
  /* font-family: 'Bonbon', cursive;  */
  font-weight: 800 ;
  text-shadow: 0 0 20px black;
  color: red;
}
#burgerBox h5:after{
  content:"";
  margin: 0 auto;
  display:block;
  border-bottom: black 1px solid;
  width: 80%;
  margin-top: 10px;
}

.eatBoxes {
  overflow-y: scroll;
  height: 160px;
  background-color: #325b0b51;
  background-blend-mode: color;
  border: 3px solid transparent;
  border-radius: 10px;
}

